<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.honami.screenshotextender</string>
			<key>key</key>
			<string>enableTweak</string>
			<key>label</key>
			<string>Enable</string>
			<key>PostNotification</key>
			<string>com.honami.screenshotextender.settingschanged</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Flash</string>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>You can set hex color value. (e.g, #000, #FFFFFF)</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.honami.screenshotextender</string>
			<key>key</key>
			<string>enableFlash</string>
			<key>label</key>
			<string>Flash</string>
			<key>PostNotification</key>
			<string>com.honami.screenshotextender.settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>placeholder</key>
			<string>#FFFFFF</string>
			<key>default</key>
			<string>#FFFFFF</string>
			<key>defaults</key>
			<string>com.honami.screenshotextender</string>
			<key>key</key>
			<string>flashColor</string>
			<key>label</key>
			<string>Color</string>
			<key>PostNotification</key>
			<string>com.honami.screenshotextender.settingschanged</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Alert</string>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Icon is only valid in banner style.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>defaults</key>
			<string>com.honami.screenshotextender</string>
			<key>key</key>
			<string>alertStyle</string>
			<key>label</key>
			<string>Style</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>validTitles</key>
			<array>
				<string>None</string>
				<string>Banner</string>
				<string>Alert</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
			<key>default</key>
			<integer>2</integer>
			<key>PostNotification</key>
			<string>com.honami.screenshotextender.settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>default</key>
			<string>Photos</string>
			<key>defaults</key>
			<string>com.honami.screenshotextender</string>
			<key>key</key>
			<string>alertTitle</string>
			<key>label</key>
			<string>Title</string>
			<key>PostNotification</key>
			<string>com.honami.screenshotextender.settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>default</key>
			<string>Saving screenshot...</string>
			<key>defaults</key>
			<string>com.honami.screenshotextender</string>
			<key>key</key>
			<string>alertMessage</string>
			<key>label</key>
			<string>Message</string>
			<key>PostNotification</key>
			<string>com.honami.screenshotextender.settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>defaults</key>
			<string>com.honami.screenshotextender</string>
			<key>key</key>
			<string>alertIcon</string>
			<key>label</key>
			<string>Icon</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>validTitles</key>
			<array>
				<string>None</string>
				<string>Photos</string>
				<string>Camera</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
			<key>default</key>
			<integer>1</integer>
			<key>PostNotification</key>
			<string>com.honami.screenshotextender.settingschanged</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Author</string>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Screenshot+ © 2014 honami</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Developer (@h0n4m1) on Twitter</string>
			<key>action</key>
			<string>openTwitter</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Source on Github</string>
			<key>action</key>
			<string>openGithub</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Contact me</string>
			<key>action</key>
			<string>sendMail</string>
		</dict>
	</array>
	<key>title</key>
	<string>Screenshot Extender</string>
</dict>
</plist>
